

<% if(locals.isLoggedIn) { %>
<div class="row">
  <div class="col s1 z-depth-3" style="padding-left: 0 !important;">
    <div class="sidebar z-depth-3">
        <a href="/films" class="logo">
        <img src="../images/logo_logo.svg" height="55px" alt="" />
        </a>
        <div class="navigation">
        <ul>
        <li class="navList valign-wrapper" ><a href="/films">Film<br/> Reviews</a></li>
        <li class="navList valign-wrapper" ><a href="/films">About<br/> Revu</a></li>
        <li class="navList valign-wrapper" ><a href="/users/<%= locals.user._id %>/edit">Account</a></li>
        <li class="navList valign-wrapper" ><a href="/logout">Log Out</a></li>
        </ul>
        </div>
    </div>
  </div>
</div>
<% } %>
