<div class="backgroundSignIn">
</div>
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card red lighten-3">
        <div class="card-content red-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>

  <div class="containerAbout z-depth-3">
  <h2>REVU</h2>
  <a href="/films" class="logo" style="top: 0px;">
  <img src="../images/logo_logo.svg" height="55px" alt="" />
  </a>


</div>
