<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include partials/_stylesheet %>
  </head>
  <body>

    <% include partials/_navbar %>
    <div class="container">
      <%- body %>
    </div>
    <% include partials/_footer %>
  </body>
</html>
