<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include partials/_stylesheet %>
  </head>
  <% include partials/_navbar %>
<body>
  <%- body %>
</body>

  <% include partials/_footer %>

</html>
