.logo {
    font-family: 'circe rounded';
    font-weight: 800;
    letter-spacing: 10px;
    color: black;
    font-size: 20px;
}
body{
  font-family: 'circe';
  font-weight: 400;
  color: black;
  font-size: 20px;
  background-color: #F2F2F2;
}
.copyright {
    font-size: 12px;
}

.container {
    width: 85%;
}

.dropdownMain {
    float: right;
}

.addFilm {
    border: solid limeGreen 2px;
    background-color: rgba(0,0,0,0.0);
}

.filmWidth {
 width: 250px;
}

.arrow {
  width: 200px;
}
/* .arrow-main {
  margin-top: -50px;
} */
nav .nav-wrapper {
    /* height: 100%; */
    padding-left: 5%;
    padding-right: 7%;


}

nav .navarrowwrapper {
    position: relative;
    height: 100%;
    padding-right: 7%;
}

.card-image{
  height: 320px;
  background-image:
}

.title {
    font-size: 1em;
    line-height: 110%;
    margin: 0;
}
.row {
    margin-left: auto;
    /* margin-top: 90px; */
    margin-right: auto;
    margin-bottom: 20px;
}

.genre {
    font-size: 0.7em;
    line-height: 110%;
    margin: 0;
    font-family: 'circe-light';
}
.filmText {
    font-size: 1em;
    line-height: 110%;
    margin: 0;
}
.editText {
    font-size: 1em;
    line-height: 110%;
    margin: 0;
}

.card .card-content {
    padding: 10px;
    border-radius: 1px;
    height: 10%;
}

.name {
    color: black;
    width: 15%;
    float: right;
}

.userSignIn{
  width: 45%;
  text-align: right;
}

.userSignIn2{
  width: 100%;
}

nav {
  box-shadow: none;
}

nav ul.left {
    float: left;
    left: 20%;
    position: absolute;
    /* top: 20%; */
}
.profilePicture {
    width: 60px;
    top: 50%;
    right: 2%;
    position: absolute;
    height: 60px;
    border-radius: 60px;
}

nav ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    color: white;


}
nav ul li:hover {
  /* border-radius: 10px 10px 0px 0px; */
  background-color: lightGrey;
  color: white;

}
nav ul a:hover {
  /* border-radius: 10px 10px 0px 0px; */
  background-color: lightGrey;
  color: white;

}

.rating {
    height: 30px;
    width: 20%;
    padding-left: 2px;
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: 4px;
    top: 15px;
    color: white;
    overflow: overlay;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.plusFilm {
    height: 30px;
    width: 30px;
    padding-left: 4px;
    padding-top: 6px;
    font-size: 14px;
    letter-spacing: 4px;
    top: 175px;
    color: white;
    overflow: overlay;
    background-color: limeGreen;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
h2 {
    font-size: 2rem;
    line-height: 110%;
    margin: 4.5rem 0 3rem 0;
}

.dropdown-trigger {
  font-family: 'circe rounded';
  font-weight: 800;
  letter-spacing: 10px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}
.dropdown-content li {
  width: 100%;
}

#dropdown1 {
  width:100px;
  top: -65px;
  position: absolute;
}


.dropdown-content {
      width: 100px;
      border-radius: 20px;
      right: 0;
      top: 0px;
      height: 80px;
      transform-origin: 0px 0px 0px;
      opacity: 1;
      transform: scaleX(1) scaleY(1);
  }


.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: grey;
    line-height: 22px;
    background-color: #CCCCCC;
    padding: 9px 16px;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #2B2B2B;
}
