<div class="backgroundSignIn">
</div>
  <div class="row">
    <% if(messages.danger){ %>
      <div class="errorPosition col s12 l12">
      <div class="error card red lighten-3">
      <div class="red-text valign-wrapper">
      <div class="card-content red-text material-icons">error_outline</div> <%= messages.danger %>

      </div>

      </div>
      </div>
      <% } %>

      <div class="containerSignIn z-depth-3">
        <h2>SIGN IN</h2>
        <form class="col l12" action="/signin" method="post">
          <div class="input-field col l12">
            <input type="email" name="email" id="email_field" required>
            <label for="email_field">Email</label>
          </div>
          <div class="input-field col l12">
            <input type="password" name="password" id="password_field" required>
            <label for="password_field">Password</label>
          </div>
          <div class="input-field col l12">
            <button class="blueButton btn">Sign In</button>
            <a class="right" href="/signup">Sign up now.</a>
            <div class="right newRevu">New to Revu?</div>
          </div>
        </form>
      </div>
    </div>
