<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card red lighten-3">
        <div class="card-content red-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>
  <h2>Sign in</h2>
  <form class="col l12" action="/signin" method="post">
    <div class="input-field col l12">
      <input type="email" name="email" id="email_field" required>
      <label for="email_field">Email</label>
    </div>
    <div class="input-field col l12">
      <input type="password" name="password" id="password_field" required>
      <label for="password_field">Password</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Signin</button>
    </div>
  </form>
</div>
