<div class="signupMargins">
  <div class="row">
    <h2>USERNAME</h2>
    <p><%= locals.user.username %></p>
    <h2>EMAIL</h2>
    <p><%= locals.user.email %></p>
    <h2>PROFILE PICTURE</h2>
    <p><%= locals.user.photo %></p>
  </div>
</div>
