<div class="row">
  <% films.forEach(film => { %>
    <div class="col s12 m4">
      <div class="card">
        <a href="/films/<%= film._id %>"><div class="card-image" style="background-image: url(<%= film.photo %>); background-repeat: no-repeat; background-position: center; background-size: cover;" >
        </div><a/>
        <div class="black-text card-content">
          <div class="title" ><%= film.title %></div>
          <div class="genre" ><%= film.genre %></div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
