
<div class="row">
  <div class="margins">
  <h2>Add Film</h2>
  <form class="col l12" action="/films" method="post">
    <div class="input-field col l12">
      <input type="text" name="title" id="title_field">
      <label for="title_field">Title</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="genre" id="genre_field" required>
      <label for="genre_field">Genre</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="director" id="director_field">
      <label for="director_field">Director/s</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="writers" id="writers_field">
      <label for="writers_field">Writers</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="stars" id="stars_field">
      <label for="stars_field">Stars</label>
    </div>
    <%# <div class="input-field col l12">
      <input type="text" name="rating" id="date_field" required>
      <label for="date_field">Year</label>
    </div> %>
    <div class="input-field col l12">
      <input type="url" name="photo" id="photo_field" required>
      <label for="photo_field">Photo</label>
    </div>
    <div class="input-field col l12">
      <input type="url" name="backgroundImage" id="backgroundImage_field">
      <label for="backgroundImage_field">Background Image</label>
    </div>
    <div class="input-field col l12">
      <input type="url" name="backgroundImage" id="backgroundImage_field">
      <label for="backgroundImage_field">Trailer</label>
    </div>
    <div class="input-field col l12">
      <input type="number" step="any" name="rating" id="rating_field" required>
      <label for="rating_field">Rating</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Add Film</button>
    </div>
  </form>
</div>
</div>
