<div class="row">
  <h2><%= film.title %></h2>
    <div class="col s12 m4 filmWidth">
        <div class="z-depth-3 card-image" style="width: 250px;background-image: url(<%= film.photo %>); background-repeat: no-repeat; background-position: center; background-size: cover;" >
        </div>
        <div class="black-text" style="padding: 15px;">
        </div>
          <a href="/films/<%= film._id %>/edit"><button class="green btn" >Edit</button></a>
          <form method="POST" action="/films/<%= film._id %>">
            <input type="hidden" name="_method" value="delete">
            <button class="red btn">Delete</button>
          </form>
    </div>
</div>
